<div class="flex flex-col items-center justify-center min-h-screen space-y-4 bg-gray-100">
    <div class="flex flex-col items-center space-y-2">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Select Your Excel File</h2>
      <input 
        type="file" 
        (change)="onFileChange($event)" 
        class="block w-80 px-4 py-2 text-lg text-gray-500 border border-gray-300 rounded-lg file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-lg file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button 
        (click)="uploadExcel()" 
        class="px-8 py-2 text-lg text-white bg-blue-600 rounded-full hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      >
        Upload
      </button>
    </div>
  </div>
  <!-- <div *ngIf="weatherData" class="full-page-container">
    <div class="weather-report-wrapper">
      <app-weather-report [weatherData]="weatherData"></app-weather-report>
    </div>
  </div> -->
  <!-- <div *ngIf="weatherData" class="flex items-center justify-center min-h-screen bg-gray-100 p-6">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-4xl">
      <app-weather-report [weatherData]="weatherData"></app-weather-report>
    </div>
  </div> -->
  <!-- <div class="flex flex-col items-center justify-center min-h-screen space-y-4 bg-gray-100">
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg w-full max-w-4xl">
      <app-weather-report></app-weather-report>
    </div>
  </div> -->
  <div class="flex flex-col items-center justify-center w-full min-h-screen space-y-4 bg-gray-100">
    <div class="bg-white rounded-lg shadow-lg w-full">
      <app-weather-report></app-weather-report>
    </div>
  </div>
