<footer class="bg-white py-8">
    <div class="container mx-auto flex flex-col items-center space-y-6">
      <div class="flex space-x-6">
        <a href="https://github.com/samanwaysm" target="_blank">
          <img src="../../../../assets/github.png" alt="Facebook" class="w-12 h-12 hover:opacity-80 transition duration-300 ease-in-out"/>
        </a>

        <a href="https://www.linkedin.com/in/samanwaysm" target="_blank">
          <img src="../../../../assets/linkedin.png" alt="LinkedIn" class="w-12 h-12 hover:opacity-80 transition duration-300 ease-in-out"/>
        </a>
      </div>
      <p class="text-gray-600 text-lg">&copy; 2024 Samanway. All rights reserved.</p>
    </div>
</footer>
  
  
<!-- 
   <footer class="bg-gray-900 py-10">
    <div class="container mx-auto flex flex-col items-center space-y-6 text-center">
      <div class="flex space-x-6">
        <a href="https://github.com/samanwaysm" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="../../../../assets/github.png" alt="GitHub" class="w-12 h-12 rounded-full border-2 border-gray-700 hover:border-gray-500"/>
        </a>
        <a href="https://www.linkedin.com/in/samanwaysm" target="_blank" class="transition-transform transform hover:scale-110">
          <img src="../../../../assets/linkedin.png" alt="LinkedIn" class="w-12 h-12 rounded-full border-2 border-gray-700 hover:border-gray-500"/>
        </a>
      </div>
      <p class="text-gray-300 text-base">&copy; 2024 Samanway. All rights reserved.</p>
    </div>
  </footer> -->
  